<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Live Stream with Logs</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />

    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="container">
      <!-- Left Panel -->
      <div class="left-panel">
        <div class="panel-heading">
          <span>All Cars Logs</span>
          <a href="/"><i class="fas fa-home heading-icon"></i></a>
        </div>

        <div class="panel-content" id="log-container">
          <!-- Logs will load here -->
        </div>
      </div>

      <!-- Center Panel -->
      <div class="center-panel">
        <img src="/video" alt="Live Stream" />
      </div>

      <!-- Right Panel -->
      <div class="right-panel">
        <div class="panel-heading">
          <span>Accident Data</span>

          <a href="/"><i class="fas fa-home heading-icon"></i></a>
        </div>
        <div class="panel-content" id="accident-container">
          <!-- Accident logs will load here -->
        </div>
      </div>
    </div>

    <script src="../static/script.js"></script>
  </body>
</html>
